#calendar-container{
    padding: 0px;
    width: 800px;
    height: 600px;
    text-align: center;
    /*border: 1px solid #586F7C;
    border-radius: 5px;*/
    box-shadow: 5px 5px 50px #cdcdcd;
    font-size: 16px;
    margin-left:0px;
    font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-top:20px;

}

#calendar-container>div{
    /*may 2016*/
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #586F7C;
    color:#F4F2F2;
    /*border: 1px solid #586F7C;*/
}

#calendar-month-year{
    margin: 5px;
    font-size: 20px;

}

#calendar-dates>table>tr>td{
    /*main calendar*/
    padding: 10px;
    width: 220px;
    height: 90px;
    color: #586F7C;
    text-align: left;
    vertical-align: top;
    border-collapse: separate;
    /*background-color: #F5F1ED;*/
}

#meetinginfo-container{
    height:600px;
    width:300px;
    box-shadow:5px 5px 50px #cdcdcd;
    font-size:16px;
    font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    
    
}

#meetinginfo-title{
    
    vertical-align:top;
    text-align:center;
    font-size:20px;
    font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}

#meetinginfo-body{
    padding-left:20px;
    text-align:left;
}

