{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}
<!-- {% block topbar %}
{% include 'topbar.html'%}
{% endblock %} -->

{% block content %}

    <div class="container">
	<div class='row'>
		<div class="col-sm-4">
			<h4>Things you need to work on</h4>
				<div class="list-group">
				 	<a href="#" class="list-group-item">Task 1<span class="badge">3 days</span></a>
				  	<a href="#" class="list-group-item">Task 2<span class="badge">3 days</span></a>
				  	<a href="#" class="list-group-item">Task 3<span class="badge">3 days</span></a>
				</div>
		</div>
		<div class="col-sm-4">
		</div>

		<div class="col-sm-3 pull-right">
			<head>
			        <title>Calendar</title>
			    </head>
			    <body>
			        <div id="calendar-container">
			            <div id="calendar-header">
			                <span id="calendar-month-year"></span>
			            </div>
			            <div id="calendar-dates">
			            </div>
			        </div>
			    </body>
		</div>

		
	</div>
</div>



{% endblock %}
