{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} {{title}} {% endblock %}
<!-- {% block topbar %}
{% include 'topbar.html'%}
{% endblock %} -->

{% block content %}

<div class="container">
   <div class="btn-group">
        <h2>Projects you need to work on:</h2>
        <!-- <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>List</a> 
        <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a> -->
    </div>
    
    <div class='row'>
        <div class="col-sm-11">
            <a href="{% url 'project_new'%}">
            <div class="col-md-4 text-center">
                <div class="boxproj">
                    <div class="box-content">
                        <br><br><br>
                        <svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" width="100" height="100">
                            <circle fill="#4CAF50" cx="24" cy="24" r="21"/>
                             <g fill="#fff">
                            <rect x="21" y="14" width="6" height="20"/>
                            <rect x="14" y="21" width="20" height="6"/>
                            </g>
                        </svg>
                        
                    </div>
                </div>

                </div>
            </a>
            {% for project in projects %}   
                <!-- <div class="item  col-xs-4 col-sm-4">
                     <a href = "{% url 'project_detail' pk=project.pk %}" style= "color:white;"><button type="button" class="btn btn-circle"> <h4>{{project.projectName}}</h4><br><h6>{{project.projectProgress}}%<br>{{ project.dueDate|timeuntil:today}} left</h6></button></a>
                </div> -->

                 <div class="col-md-4 text-center">
                    <a href = "{% url 'project_detail' pk=project.pk %}" style= "color:gray; word-wrap: break-word;">
                    <div class="boxproj">
                        <div class="box-content">
                            <h2 class="tag-title"><br>{{project.projectName}}</h2>
                            <hr />
                            <!-- <p> {{project.projectProgress}} done% -->{{ project.dueDate|timeuntil:today}} left until due date</p>
                            <br />
                        </div>
                    </div>
                	</a>
                </div>
            {% endfor %}
        
	</div>
	<div class="col-sm-1"></div>
    </div>


	<div class='row'>
				<br>
	</div>

		</div>	
	</div>
</div>




{% endblock %}
