{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} {{title}} {% endblock %}
<!-- {% block topbar %}
{% include 'topbar.html'%}
{% endblock %} -->

{% block content %}

<div class="container">
   <div class="btn-group">
        <h2>Projects you need to work on:</h2>
        <!-- <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>List</a> 
        <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a> -->
    </div>
    
    <div class='row'>
        <div class="col-sm-11">
            

            {% for project in projects %}   
                <!-- <div class="item  col-xs-4 col-sm-4">
                     <a href = "{% url 'project_detail' pk=project.pk %}" style= "color:white;"><button type="button" class="btn btn-circle"> <h4>{{project.projectName}}</h4><br><h6>{{project.projectProgress}}%<br>{{ project.dueDate|timeuntil:today}} left</h6></button></a>
                </div> -->

                 <div class="col-md-4 text-center">
                    <a href = "{% url 'project_detail' pk=project.pk %}" style= "color:gray; word-wrap: break-word;">
                    <div class="box">
                        <div class="box-content">
                            <h2 class="tag-title">{{project.projectName}}</h2>
                            <hr />
                            <p> {{project.projectProgress}} done%<br>{{ project.dueDate|timeuntil:today}} left until due date</p>
                            <br />
                        </div>
                    </div>
                	</a>
                </div>
            {% endfor %}
        
	</div>
	<div class="col-sm-1"></div>
</div>
	<div class='row'>
	<div <div class="col-sm-11" align="center">
            <a href="{% url 'project_new'%}">
            <div class="icons" align="center">
        		<div class="icon-slide-container" align="center">
          			<img class="slide-icon"  alt="The Kite Map Logo" height="100" src="http://s32.postimg.org/ig5sc386t/addproj.jpg">
          		</div>
        	</div>
        </a>
                     
                
		</div>
			
	</div>
	<div class='row'>
				<br>
	</div>

		

		<!-- <div class="col-sm-4 pull-right"> -->
			<!-- <head>
			 	<title>Calendar</title>
			</head>
			
			<body>
			    <br>
			    <a href="{% url 'project_new'%}"><button type='button' class='button-slide'><span>New Project</span></button></a>

			   
			</body> -->
		</div>	
	</div>
</div>




{% endblock %}
