{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
{% if project %}
<head>
	lolol
<script type="text/javascript" src="/path/to/jquery-latest.js"></script> 
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> 
</head>

<body>
<div class="row">
	<h2>
	{{project.projectName}}
	</h2>
</div>
<div class="row">
	<div class="col-sm-11">
		<table id = "taskTable" class="table-hover tablesorter">
	    <thead>
	      <tr>
	        <th>Task</th>
	        <th>Assignee</th>
	        <th>Difficulty</th>
	        <th>Status</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for task in tasks %}
	    	<tr>
	        	<td>{{task}}</td>
	        	<td>{{task.assignee}}</td>
	        	<td>{{task.get_difficultyLevel_display}}</td>
	        	<td>{{task.get_taskState_display}}</td>
	        	{% if task.taskState == 'AW' %}
	        		<td>
	        			<a href="{% url 'task_detail' pk=task.pk %}"><button class="btn">View Details</button></a>
	        		</td>
	        	{% elif task.taskState == "IP" %}
		        	<td>
		        		<a href="{% url 'task_update' pk=task.pk %}"><button class="btn">Update</button></td>
		        {% else %}
		        	<td> </td>
		        {% endif %}
	      	</tr>
	    {% endfor %}
	    </tbody>
	  	</table>



		<a href="{% url 'ratepeer' pk=project.pk %}">Rate peer:</a> 
		<ul class="list-group">
		    {% for member in members %}
		    <li class="list-group-item">{{ member }}</li>  
		    {% endfor %}
		</ul>
	</div>	



</div>

</body>

{% endif %}
{% endblock %}