{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block extrahead %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load("current", {packages:["corechart", "bar"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        //TASK DISTRIBUTION
        var djangoData = {{array_task|safe}};
        var data = google.visualization.arrayToDataTable(djangoData);

                var options = {
                  // title: 'Task Contribution Summary',
                  legend: { 
                  	position: "right",
                  	textStyle:{
                  		fontName: 'Century Gothic'
                  	} 
                  },
                  chartArea: { 
                      width: '130%', 
                      height: '65%',
                  },
                };
        
        var djangoData2 = {{array_rating|safe}};
        var data2 = google.visualization.arrayToDataTable(djangoData2);
        var options2= {
          chart: {
            // title: 'Peer Ratings Summary',
            // subtitle: 'Comparison of ratings for each members.',
            chartArea: { 
                 left: 10, 
                 top: 10, 
                 width: '80%', 
                 height: '65%',

             },
          },
          legend: { position: "NONE" },

        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);

		var chart2 = new google.charts.Bar(document.getElementById('columnchart_material_2'));
		chart2.draw(data2, options2);
    

      }
    </script>
{% endblock %}
{% block content %}

{% if project %}
<div class="col-sm-11">
<div style="text-align:center">
	<div class="row">
		<h3><strong>{{project.projectName}}</strong></h3>
	</div>
	<div class="row">
		<ul>
			{% for member in members %}
			<li style="list-style:none">{{ member }}</li>
			{% endfor %}
		</ul>
		<hr>
	</div>
</div>
<div class="col-sm-6">
	<p class="lead">Task Distribution Summary</p>
	<p>Contributions of each team member based on tasks completed. Tasks are weighted by their difficulty levels, using the following point system:</br>
		Easy: 1</br>
		Medium: 3</br>
		Difficult: 5</p>
	<div id="piechart" style="height: 400px;"></div>
	</div>
	<div class="col-sm-5">
		<p class="lead">Peer Rating Summary</p>
		<p>Average ratings for each member based on peer rating evaluations from this project. Teammates are to evaluate each other on 5 categories, each with the following grading range:</br> 
			(Low productivity=1, High productivity=5)</p>
		<div id="columnchart_material_2" style="height:400px"></div>
		</div>
	</div>
{% endif %}
{% endblock %}