{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- {% block extrahead %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript">
$(selector).countdown({until: liftoffTime});
</script>


{% endblock %} -->

{% block content %}

{% if task %}

<div class='container'>
	<!-- <div class="row"> -->
		<!-- <div class="col-sm-11"> -->
      <div class="wrapper">
      <ul id="Grid">
        <div class="row">
        <div class="col-3"><h2>Difficulty:</h2>{{task.get_difficultyLevel_display}}</div>
        <div class="col-3">Task Points: {{task.difficultyLevel}}</div>
			<!-- <table id = "taskTable" class="table table-hover">
			    <thead>
			      <tr>
			        <th><h2>{{task.taskName}}</h2></th>
			        <th> </th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
				        <td>Difficulty:</td> <td>{{task.get_difficultyLevel_display}}</td>
				    </tr>
				    <tr>
						<td>Task Points:</td> <td>{{task.difficultyLevel}}</td>
					</tr>
				    <tr>
						<td>Due Date:</td> <td>{{task.expectedDate}}</td>
					</tr>
				    <tr>
						<td>Description:</td> <td>{{task.description}}</td>
				 	</tr>
			    </tbody>
			</table> -->
		</div>

		<!-- <div class="col-sm-3" align="right">
			<br><br><br><br><br>
			Today is {{today}} 
			<br><br><br>
			You have 
			<h3>{{ project.grabBy|timeuntil:today }}</h3>
			left to decide
			<form method="POST" class="post-form">
	    		{% csrf_token %}
		    	{% for field in form %}
		    		{{ field.as_hidden }}
				{% endfor %}
			    <br><br><br><br><br><br><br>This task is unassigned. Are you up for the job?<br>
			    <button type="submit" class="button-slide">Grab Task</button>
				</div> -->
			</form>
		</div>
	</div>
</div>

{% endif %}

{% endblock %}