{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- {% block extrahead %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript">
$(selector).countdown({until: liftoffTime});
</script>


{% endblock %} -->

{% block content %}
<style>
@import "compass/css3";

@import url('http://fonts.googleapis.com/css?family=Open+Sans:600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #eee;
}

.wrapper {
  margin: 20px auto;
}

[class*="col-"] {
  margin-bottom: 20px;
  min-height: 30px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

@media all and (min-width: 500px) {

  .wrapper {
    padding: 0 20px;
  }

  .row {
    display: flex;
  }

  [class*="col-"] {
    margin-right: 20px;
  }

  [class*="col-"]:last-child {
    margin-right: 0;
  }

  @for $i from 1 through 12 {
    .col-#{$i}{
      flex: $i; 
    }
  }

}

@media all and (min-width: 1000px) {

  .wrapper {
    max-width: 1000px;
  }

}

header {
  padding: 30px;`
  font: 600 20px/1 'Open Sans', sans-serif;
  text-align: center;
  color: #777;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
</style>

{% if task %}

<div class='container'>

  <div class="row">
    <div class="col-sm-11" align="center" style=" margin: 15px 15px 15px 15px;">
    <h3> You have <b>{{ project.grabBy|timeuntil:today }}</b> left to decide</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" style="min-height: 300px; background:#586f7c; margin: 15px 15px 15px 15px; word-wrap: break-word; color:white;" align="center">
      <h1 align="center"><h5>Task Name:</h5><h1>{{task.taskName}}</h1>
    </div>
    <div class="col-sm-3" style="min-height: 300px; background:#586f7c; margin: 15px 15px 15px 15px; color:white;" align="center">
      <h5>Difficulty:</h5><h1>{{task.get_difficultyLevel_display}}</h1>
    </div>
    <div class="col-sm-3" style="min-height: 300px; background:#586f7c; margin: 15px 15px 15px 15px; color:white;" align="center">
      <h5>Due Date:</h5><h1>{{task.expectedDate}}</h1>
    </div>
    <div class="col-sm-3" style="min-height: 300px; background:#586f7c; margin: 15px 15px 15px 15px; word-wrap: break-word; color:white;" align="center">
      <h1 align="left"><h5>Description:</h5><h3>{{task.description}}</h3>
    </div>
          <form method="POST" class="post-form">
          {% csrf_token %}
          {% for field in form %}
            {{ field.as_hidden }}
        {% endfor %}
      </form>
  </div>

  <div class="row">
    <div class="col-sm-11" style="background:white; margin: 15px 15px 15px 15px;" align="center">
      
      <h4>This task is unassigned. Are you up for the job?</h4><br>
          <button type="submit" class="button-slide">Grab Task Now!</button>
    </div>
  </div>



<!-- <div class='container'>
	<div class="row">
		<div class="col-sm-8">
			<table id = "taskTable" class="table table-hover">
			    <thead>
			      <tr>
			        <th><h2>{{task.taskName}}</h2></th>
			        <th> </th>
			      </tr>
			    </thead>
			    <tbody>
			      	<tr>
				        <td>Difficulty:</td> <td>{{task.get_difficultyLevel_display}}</td>
				    </tr>
				    <tr>
						<td>Task Points:</td> <td>{{task.difficultyLevel}}</td>
					</tr>
				    <tr>
						<td>Due Date:</td> <td>{{task.expectedDate}}</td>
					</tr>
				    <tr>
						<td>Description:</td> <td>{{task.description}}</td>
				 	</tr>
			    </tbody>
			</table>
		</div>

		<div class="col-sm-3" align="right">
			<br><br><br><br><br>
			Today is {{today}} 
			<br><br><br>
			You have 
			<h3>{{ project.grabBy|timeuntil:today }}</h3>
			left to decide

			</ul> -->

			    <!-- <br><br><br><br><br><br><br>This task is unassigned. Are you up for the job?<br>
			    <button type="submit" class="button-slide">Grab Task</button>
				</div>
			</form>
		</div>
	</div>
</div> --> 


{% endif %}

{% endblock %}