{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}



{% block content %}
<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    {% if profile %}
    <h4 class="pull-right"><strong>{{profile}}</strong></h4>
    <div class="pull-right">
      <img src="{% static 'img/' %}{{profile.avatar}}" style="width:100px; height:100px;"></div>
    {% endif %}


	
<div class="row">
		<div class="col-sm-12">
      

		<h3>User's Statistics</h3> 
    <hr>


    <!-- <div class="col-sm-6">
			<div id="columnchart_material" style="height:400px"></div>
    </div> -->
        <div class="col-sm-12" style="text-align:center">
          <div class="item  col-xs-3 col-sm-3">
            <p style="text-transform:uppercase; font-size:15px"><strong>Peer Rating Score</strong></p>
            <i class="hovicon auto effect-1 sub-a" style="background:#37BC9B"></br><h4 style="text-transform:uppercase; font-size:30"><strong>{{avgRating}}%</strong></br></h4>
            </i>
          </div>
          <div class="item  col-xs-3 col-sm-3">
            <p style="text-transform:uppercase; font-size:15px"><strong>Completed Tasks</strong></p>
            <i class="hovicon auto effect-1 sub-a" style="background:#37BC9B"></br><h4 style="text-transform:uppercase"><strong>{{completed}}</strong></br></h4>
            </i>
          </div>
          <div class="item  col-xs-3 col-sm-3">
            <p style="text-transform:uppercase; font-size:15px"><strong>Average Task Scores</strong></p>
            <i class="hovicon auto effect-1 sub-a" style="background:#37BC9B"></br><h4 style="text-transform:uppercase"><strong>{{avgTask}}</strong></br></h4>
            </i>
          </div>
          <div class="item  col-xs-3 col-sm-3">
            <p style="text-transform:uppercase; font-size:15px"><strong>Completed Projects</strong></p>
            <i class="hovicon auto effect-1 sub-a" style="background:#37BC9B"></br><h4 style="text-transform:uppercase"><strong>{{projects_completed}}</strong></br></h4>
            </i>
          </div>

        </div>
	</div>
</div>



{% endblock %}

