{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Discussions {% endblock %}

{% block content %}
<div class='row'>
	<div class='col-sm-12'>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Topic</th>
		      <th>Created By</th>
		      <th>Date</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Larry</td>
		      <td>the Bird</td>
		    </tr>
		  </tbody>
		</table>
		
	</div>

	</div>
{% endblock %}