{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class='col-sm-10 col-sm-offset-1'>
    <a href="{% url 'post_list'%}"><button type='button' class='btn'><i class="glyphicon glyphicon-backward"></i>Post List</button></a>


<div class='panel-group' style='margin-top:5px'>
    <div class='panel'>
        <div class="panel-footer pull-right">
            {{ post.author }} | {{ post.published_date }} 
        </div>
        <div class="panel-heading">
            <h3 class="panel-title">{{ post.title }}</a></h3>
            </div>
        <div class="panel-body">
            {{post.text}}
            <div class="pull-right">
                <form method="POST" class="post-form">
                    {% csrf_token %}  
                    <div class='row'>
                        {{post.withYou}}
                        {% if post.isWithYou %}
                        <button type="button" class="btn btn-danger" disabled><i class="glyphicon glyphicon-heart"></i></button>
                        {% else %}
                        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-heart"></i></button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        
    </div>

</div>
 <!--    <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.author }} | {{ post.published_date }}</p> 
        <p>{{ post.text }}</p>
    </div> -->
    <hr>
   

    <a class="btn" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

    <div class='container pull-left' style='margin-top:10px'>
        <div class="col-sm-8">
    {% for comment in post.comments.all %}
        <div class="comment">     
        <div class="date pull-right">{{ comment.created_date }}</div>
       
            <p><strong>{{ comment.author }}: </strong>{{ comment.text }}</p>

        </div>
        <hr>

    {% empty %}
        <p>No comments here yet :(</p>

    {% endfor %}
</div>
</div>
</div>
{% endblock %}