{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

    <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.author }} | {{ post.published_date }}</p> 
        <p>{{ post.text }}</p>
    </div>
    <hr>
    <a class="btn" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}