{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-4">
		<div id="circle" style="color:white; background: #232323"><h2>80</h2></br><h4>Submitted Responses</h4></div>
	</div>
	<div class="col-sm-4">
		<div id="circle" style="color:white"><h2>80%</h2></br><h6>Attends group meetings regularly and arrives on time.</h6></div>
	</div>
	<div class="col-sm-4">
		<div id="circle" style="color:white"><h2>80%</h2></br><h6>Contributes meaningfully to group discussions.</h6></div>
	</div>
</div>
</br>
</br>

<div class="row">
	<div class="col-sm-4">
		<div id="circle" style="color:white;"><h2>80%</h2></br><h6>Prepares work in a quality manner.</h6></div>
	</div>
	<div class="col-sm-4">
		<div id="circle" style="color:white"><h2>80%</h2></br><h6>Demonstrates a cooperative and supportive attitude.</h6></div>
	</div>
	<div class="col-sm-4">
		<div id="circle" style="color:white"><h2>80%</h2></br><h6>Contributes significantly to the success of the project.</h6></div>
	</div>
</div>
{% endblock %}
