{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}

{% block content %}

{% if profile %}
	<h3>Edit Your Profile</h3>
	<div class='container'>
		<form method="POST" class="post-form">
		    {% csrf_token %}
		    <div class='row'>
		    <label for="full_name">Full name: </label>
		    <input id="full_name" type="text" name="full_name" value="{{ profile }}" style="width:200px">
		</div>
		    <div class='row'>
		    <button type="submit" class="save btn">Save</button>
		</div>
		</form>
	</div>
	<h3>Choose an avatar!</h3>
	<div class="col-xs-4 col-sm-4">
	     <button type="button" class="btn btn-circle" style="background:transparent">
	     <img src="{% static 'img/male.png' %}">
	 </button>
	</div>


{% else %}
<h3>Tell us your name.</h3>

<div class='container'>
	<form method="POST" class="post-form">
	    {% csrf_token %}
	    {{ form.as_p }}
	</div>
	    <div class='row'>
	    <button type="submit" class="save btn">Save</button>
	</div>
	</form>
</div>

{% endif %}
{% endblock %}


