{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

{% if profile %}
	<h1>Need to edit your name?</h1>
	<div class='container'>
		<form method="POST" class="post-form">
		    {% csrf_token %}
		    <!-- {{ form.as_p }} -->
		    <div class='row'>
		    <label for="full_name">Full name: </label>
		    <input id="full_name" type="text" name="full_name" value="{{ profile }}" style="width:200px">
		</div>
		    <div class='row'>
		    <button type="submit" class="save btn">Save</button>
		</div>
		</form>
	</div>


{% else %}
<h1>Tell us your name.</h1>

<div class='container'>
	<form method="POST" class="post-form">
	    {% csrf_token %}
	    {{ form.as_p }}
	   <!--  <div class='row'>
	    <label for="full_name">Full name: </label>
	    <input id="full_name" type="text" name="full_name" value="{{ profile }}" style="width:200px"> -->
	</div>
	    <div class='row'>
	    <button type="submit" class="save btn">Save</button>
	</div>
	</form>
</div>

{% endif %}
{% endblock %}


