{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %} My Page {% endblock %}


{% block extrahead %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load("current", {packages:["corechart", "bar"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
      	//data for donut chart
        var data = google.visualization.arrayToDataTable([
          ['Progress', 'Tasks'],
          ['In progress', {{inprogress}}],
          ['Awaiting',  {{ awaiting }}],
          ['Completed', {{completed}}]
         
        ]);     
        var options = {
          pieHole: 0.7,
          colors: ['#1FB58F','#EAB126', '#F24C4E'],
          // legend: 'none',
          backgroundColor: { fill: "#F5F1ED" },
          pieSliceText: 'none',
          height: 400,
          width: 400,
          legend: {
                 position: 'right',
                 alignment: 'top'
             },
             chartArea: { 
                 left: 10, 
                 top: 10, 
                 width: '130%', 
                 height: '65%',
             },
             // pieStartAngle: 180,
        };
        //date for bar graph
        var data2 = google.visualization.arrayToDataTable([
          ['Project', 'Average', 'Your'],
          ['All Projects', 2000, 400],
        ]);

        var options2 = {
          chart: {
            title: 'Personal Contribution Summary',
            subtitle: 'Personal contribution VS. Average contribution',
            chartArea: { 
                 left: 10, 
                 top: 10, 
                 width: '130%', 
                 height: '65%',
             },
          }
        };
      


        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
        
  //       var chart2 = new google.charts.Bar(document.getElementById('columnchart_material'));
		// chart2.draw(data2, options2);
    

      }
    </script>
{% endblock %}

{% block content %}

<div class="col-sm-11 col-xs-11 col-lg-11 col-xl-11">
	<div class="row">
		{% if profile %}
    <div class="col-sm-3 col-xs-3 col-lg-3 col-xl-3">
    <div class="row">
      <img src="{% static 'img/' %}{{profile.avatar}}" style="width:100px; height:100px;">
    </div>
    <h4><strong>{{profile}}</strong></h4>
    <a href="{% url 'messages_inbox' %}">
<span class="badge">{{ messages_inbox_count }} new mail</span></a></br>
<span class="badge">{{ meetings }} meetings today</span></a>



  </div>


  {% if projects_count > 0 %}

  <div class="col-sm-9 col-xs-9 col-lg-9 col-xl-9">
    <div class="row" style="overflow-x:auto;">
      <ul id='timeline'>
        <li class='work'>
          <input class='radio' id='work5' name='works' type='radio' checked>
          <div class="relative">
            <label for='work5'>Today</label>
            <span class='circle-timeline'></span>
          </div>
          <div class='content'>
            <p style="color:#f5f1ed">{{date}}
            </p>
          </div>
        </li>
        
        {% for project in currentprojects %}

        <li class='work'>
          <input class='radio' id='{{project}}' name='works' type='radio'>
          <div class="relative">
            <label for='{{project}}'>{{project.dueDate}}</label>
          <span class='circle-timeline'></span>
          </div>
          <div class='content' >
            <p style="color:#f5f1ed">{{project}}
            </p>
          </div>
        </li>
        {% endfor %}



      </ul>

    </div>
  </div>
  {% endif %}



		{% else %}
		<h4 class="strong pull-right">Click Edit Profile to add your name.<span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></h4>
		{% endif %}

   
	</div>
  <div class="row">
    <hr>
    <p style="text-transform:uppercase"><strong> Quick Add </strong></p>
    <div class="col-sm-10 col-xs-10 col-lg-10 col-xl-10 col-sm-offset-1 col-xs-offset-1 col-lg-offset-1 col-xl-offset-1" style="text-align:center">
    <a href="{% url 'project_new' %}" class="fancy-button bg-gradient2"><span><i class="glyphicon glyphicon-plus"></i> Add Project</span></a>
    <a href="{% url 'schedule_new' %}" class="fancy-button bg-gradient2"><span><i class="glyphicon glyphicon-calendar"></i> Add Meeting</span></a>
</div>

  </div>

  {% if total > 0 %}
 
    <div class="row" style="height:200px">
      <hr>
      <p style="text-transform:uppercase"><strong> Task summary </strong></p>

    	<div class="col-sm-4 col-xs-4 col-lg-4 col-xl-4">
    		<div style="z-index:5; left:90px;top:85px; width: 100px; height: 100px; line-height:100px; text-align:center; position: absolute; font-size:20px;"> 
    				{{total}} task{% if total > 1 %}s{% endif %}
    		</div>
    		<div id="donutchart"> </div>

    	</div>
      <div class="col-sm-1 col-xs-1 col-lg-1 col-xl-1"></div>
        <div class="col-sm-3 col-xs-3 col-lg-3 col-xl-3">
          <p style="text-transform:uppercase; text-align:center"><span class="badge" style="background:#EAB126;">Awaiting</span></p>
          {% if awaiting > 0 %}
          <div style="height:300px; padding:20px; background-color: rgba(0,0,0,0.1);border-radius:5px; overflow:scroll;">

              <div class="list-group">
                  {% for task in awaitingTasks  %}
                    <a href="{% url 'task_detail' pk=task.pk%}" class="list-group-item"> 
                    <p class="list-group-item-heading"><strong>{{task}}</strong></p>
                    <p class="list-group-item-text" style="color:#232323;">{{task.project}}</p>
                  </a>
                  {% endfor %}
               

              </div>
            

          </div>
          {% else %}
          No tasks here.
          {% endif %}
        </div>

    	<div class="col-sm-3 col-xs-3 col-lg-3 col-xl-3">
        <p style="text-transform:uppercase; text-align:center"><span class="badge"  style="background:#1FB58F">In progress</span></p>
        {% if inprogress > 0 %}

    		<div style="height:300px; padding:20px; background-color: rgba(0,0,0,0.1);border-radius:5px; overflow:scroll;">

      			<div class="list-group">
      				{% for task in inProgressTasks  %}
         				<a href="{% url 'task_detail' pk=task.pk%}" class="list-group-item"> 
                  <p class="list-group-item-heading"><strong>{{task}}</strong></p>
      					<p class="list-group-item-text" style="color:#232323">{{task.project}}</p>
      				</a>
      				{% endfor %}
      			</div>
    		</div>
        {% else %}
        No tasks here.
        {% endif %}
    	</div>
    </div>
  {% endif %}

  <div class="row">
  		<div class="col-sm-12">
        <hr>
     <p style="text-transform:uppercase"><strong>your history </strong></p>
      <!-- <div class="col-sm-6">
  			<div id="columnchart_material" style="height:400px"></div>
      </div> -->
          <div class="col-sm-12" >
            <div class="item  col-xs-3 col-sm-3">
              <h4> Peer Ratings</h4>
                 <a href = "{% url 'myratings' %}" style= "color:white;"><button type="button" class="btn btn-circle"> <h1>{{avgRating}}%</h1></button></a>
            </div>
            <!-- <div class="item  col-xs-3 col-sm-3">
              <h4>Completed Tasks</h4>
              <div id="circle-small" style="color:white;"> <h1>{{completed}}</h1>
               </div>
            </div> -->
            <div class="item  col-xs-3 col-sm-3">
              <h4>Task Score</h4>

                 <div id="circle-small" style="color:white;"><h1>{{avgTask}}</h1>
                              </div>
            </div>
            <div class="item  col-xs-3 col-sm-3">
              <h4>Completed Projects</h4>

                 <div id="circle-small" style="color:white;"> <h1>{{projects_completed}}</h1>
                              </div>
            </div>
          </div>
  	</div>
</div>



{% endblock %}

