{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}


{% block extrahead %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Progress', 'Tasks'],
          ['Awaiting',  {{ awaiting }}],
          ['In progress', {{inprogress}}],
          ['Completed', {{completed}}]
         
        ]);
       
        var options = {
          pieHole: 0.3,
          colors: ['#1FB58F', '#EAB126', '#F24C4E'],
          legend: 'none'
        };
      

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
        
    

      }
    </script>
{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		{% if profile %}
			<div class="col-sm-10 col-sm-offset-1">
				<h4 class="strong pull-right">Welcome, {{profile}}.</h4>

				
			</div>
		{% else %}
			<div class="col-sm-12">
				<h4 class="strong pull-right">Click Edit Profile to add your name.<span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></h4>
			</div>
		{% endif %}
		<div class="row">
			<div id="donutchart" style="width:300px; height:300px; "></div>
			<!-- <div id="donutchart_inprogress" style="width:300px; height:300px; "></div> -->
			<!-- <div id="donutchart_completed" style="width:300px; height:300px; "></div> -->
	</div>

		<div class="col-sm-6 pull-left">
			<h4 class="lead">Tasks you're working on </h4>
			<!-- {{myTasks}} -->
			<div class="list-group">
				{% for task in inProgressTasks %}
				<a href="#" class="list-group-item"> {{task}} <span class="badge">{{task.expectedDate}}</span></a>
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-6 pull-left">
			<h4 class="lead">Tasks waiting for you </h4>
			<!-- {{myTasks}} -->
			<div class="list-group">
				{% for task in awaitingTasks %}
				<a href="#" class="list-group-item"> {{task}} <span class="badge">{{task.expectedDate}}</span></a>
				{% endfor %}

			</div>
		</div>

	
	</div>

	

</div>

{% endblock %}

