{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h4 class="lead">Your Projects</h4>
		</div>
	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<!-- <div class='row'> -->
		<h4>Project 1</h4>
			<div class="progress">
			  <div class="progress-bar progress-bar-success" style="width: 35%">
			    <span class="sr-only">35% Complete (success)</span>
			  </div>
			  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
			    <span class="sr-only">20% Complete (warning)</span>
			  </div>
			  <div class="progress-bar progress-bar-danger" style="width: 45%">
			    <span class="sr-only">45% Complete (danger)</span>
			  </div>
			</div>
		<!-- </div> -->
		<!-- <div class='row'>

			<div class="row placeholders">
			  <div class="col-xs-6 col-sm-3 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    <h4>Project 1</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			  <div class="col-xs-6 col-sm-3 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    <h4>Project 2</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			  <div class="col-xs-6 col-sm-3 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    <h4>Project 3</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			  <div class="col-xs-6 col-sm-3 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			    <h4>Project 4</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			</div>

		</div>

		
	</div> -->

	<div class="row">
		<div class="col-sm-12">
			<h4 class="lead">Things you need to work on </h4>
		</div>
	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<div class='row'>
			<div class="col-sm-6">
				<div class="list-group">
				 	<a href="#" class="list-group-item">Task 1<span class="badge">3 days</span></a>
				  	<a href="#" class="list-group-item">Task 2<span class="badge">3 days</span></a>
				  	<a href="#" class="list-group-item">Task 3<span class="badge">3 days</span></a>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
