
  <nav class="cd-stretchy-nav">
    <a class="cd-nav-trigger" href="">
			<span aria-hidden="true"></span>
		</a>
    <ul>
      <li><a href="{% url 'profile' %}"><span>Home</span></a></li>
      <li><a href="{% url 'projects' %}"><span>Projects</span></a></li>
      <li><a href="{% url 'schedule' %}"><span>Schedule</span></a></li>
      <li><a href="{% url 'messages_inbox' %}"><span>Messages</span></a></li>
      <li><a href="{% url 'post_list' %}"><span>Discussions</span></a></li>
    </ul>
    <span aria-hidden="true" class="stretchy-nav-bg"></span>
  </nav>
