{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}
<!-- {% block topbar %}
{% include 'topbar.html'%}
{% endblock %} -->

{% block content %}

    <div class="container">

        <div class="header">

            <h2>&nbsp;&nbsp;My Calendar<br></h2>

        </div>

        <div class="col-sm-3 pull-left">
			<head>
			        <title>Calendar</title>
            </head>
            <body>
			        <div id="calendar-container">
			            <div id="calendar-header">
			                <span id="calendar-month-year"></span>
			            </div>
			            <div id="calendar-dates">
			            </div>
			        </div>
            </body>
		</div>


          

        <div class="col-sm-3 pull-right"> 
            <head> 
                <title>Information</title>    
            </head>
             
            <body> 
                    <div id="meetinginfo-container">  

                        <div id="meetinginfo-title"> 
                        </div>

                        <div id="meetinginfo-body">
                        </div>
                    </div>
            </body>
        </div>

        <script>test()</script>

        <div class="col-sm-7">
            <a href="{% url 'schedule_new'%}"><button type='button' class='button-slide'><span>New Meeting</span></button></a>
            <h4>Test: list of projects</h4>
                    {% for meeting in meetings %}
                    <p>{{ meeting.meetingName }}</p>
		            {% endfor %}
        <button onclick="test()">Hello</button>



		</div>


    </div>    
{% endblock %}
