{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}
<!-- {% block topbar %}
{% include 'topbar.html'%}
{% endblock %} -->

{% block content %}
    <div class="container">

        <div class="header">

            <h2>&nbsp;&nbsp;Project Calendar<br></h2>
            <h4>&nbsp;&nbsp;&nbsp;<i>Project Name</i></h4>

        </div>

        <div class="col-sm-3 pull-left">
			<head>
			        <title>Calendar</title>
            </head>
            <body>
			        <div id="calendar-container">
			            <div id="calendar-header">
			                <span id="calendar-month-year"></span>
			            </div>
			            <div id="calendar-dates">
			            </div>
			        </div>
            </body>
		</div>


          

        <div class="col-sm-3 pull-right"> 
            <head> 
                <title>Information</title>    
            </head>
             
            <body> 
                    <div id="memberinfo-container">  

                        <div id="memberinfo-title"> 
                            <h4>Member List</h4>
                        </div>

                        <div id="memberinfo-body">
                            <p>Member1</p>
                            <p>Member2</p>
                            <ul class="list-group">
		                        {% for member in members %}
		                        <li class="list-group-item">{{ member }}</li>
		                        {% endfor %}
		                    </ul>
                        </div>
                    </div>
            </body>
        </div>


    </div>    
{% endblock %}
