{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}
<!-- {% block topbar %}
{% include 'topbar.html'%}
{% endblock %} -->

{% block content %}

    <div class="container">

        <div class="header">
            {% for project in current_project %}
            <h2>&nbsp;&nbsp;Shared Project Calendar</h2>
            <h4><i>&nbsp;&nbsp;&nbsp;{{ project.projectName }}</i></h4>
            {% endfor %}

        </div>

        <div class="col-sm-3 pull-left">
			<head>
			        <title>Shared Calendar</title>
            </head>
            <body>
			        <div id="shared-calendar-container">
			            <div id="shared-calendar-header">
			                <span id="shared-calendar-month-year"></span>
			            </div>
			            <div id="shared-calendar-dates">
			            </div>
			        </div>
            </body>
		</div>


          

        <div class="col-sm-3 pull-right"> 
            <head> 
                <title>Information</title>    
            </head>
             
            <body> 
                    <div id="memberinfo-container">  

                        <div id="memberinfo-title"> 
                        </div>

                        <div id="memberinfo-body">
                        </div>
                    </div>
            </body>
        </div>


        <div class="col-sm-7">
            <a href="{% url 'schedule_new'%}"><button type='button' class='button-slide'><span>New Meeting</span></button></a>

            <h4>Test: List of meetings</h4>
            {% for meeting in all_meetings %}
                <ul>{{ meeting.meetingName }}</ul>
            {% endfor %}

            <h4>Test: List of Member Names</h4>

            {% for member in members %}
                <ul>{{ member }}</ul>
            {% endfor %}


		</div>


    </div>    

{% endblock %}
