{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} My Page {% endblock %}
<!-- {% block topbar %}
{% include 'topbar.html'%}
{% endblock %} -->

{% block content %}

    <div class="container">

        <div class="header">

            <h2>&nbsp;&nbsp;Shared Project Calendar</h2>
            <h4><i>&nbsp;&nbsp;&nbsp;My First Project</i></h4>


        </div>

        <div class="col-sm-3 pull-left">
			<head>
			        <title>Shared Calendar</title>
            </head>
            <body>
			        <div id="shared-calendar-container">
			            <div id="shared-calendar-header">
			                <span id="shared-calendar-month-year"></span>
			            </div>
			            <div id="shared-calendar-dates">
			            </div>
			        </div>
            </body>
		</div>


          

        <div class="col-sm-3 pull-right"> 
            <head> 
                <title>Information</title>    
            </head>
             
            <body> 
                    <div id="memberinfo-container">  

                        <div id="memberinfo-title"> 
                        </div>

                        <div id="memberinfo-body">
                        </div>
                    </div>
            </body>
        </div>


        <div class="col-sm-7">
            <h4>Test: list of projects</h4>
                    {% for project in projects %}
                    <a href="{% url 'project_detail' pk=project.pk %}"><button class="btn">{{ project.projectName }}</button></a>
		            {% endfor %}


		</div>


    </div>    
{% endblock %}